html,
body {
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  display: flex;
  a {
    margin-left: 4px;
    font-size: 1.3rem;
    display: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  &:hover {
    a {
      display: block;
    }
  }
}

code {
  font-size: 95% !important;
}


.md-list {
  a,
  code {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
